@import url(https://fonts.googleapis.com/css?family=Finger+Paint);
@import url('http://fonts.googleapis.com/css?family=Creepster');
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
html, body {
  overflow-x: hidden;
  background-color: #2d3436;
  /* background-image:url(https://raw.githubusercontent.com/qw-erty/Data/master/bg.png); */
  background-image:url(https://raw.githubusercontent.com/qw-erty/Data/master/bg1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Finger Paint";
  font-size: large;
}
.navbar-color {
  background: rgba(165, 255, 222, 0.10);
  border: 5px solid rgba(0, 0, 0, 0.11);
  font-family: "Creepster";
}
#owl-demo .item{
  display: block;
  width: 100%;
}


#owl-demo .item img{
  display: block;
  width: 100%;
  height: 60vh;
}

#owl-demo-2 .item{
  display: block;
  width: 100%;
}


#owl-demo-2 .item img{
  display: block;
  width: 100%;
  height: 60vh;
}

.carousel-item{
  height: 90vh;
}

#myCanvas {
  position: absolute;
  top:0px;
  z-index: 2;
}

.navbar {
  background: rgba(165, 255, 222, 0.10);
  border: 5px solid rgba(0, 0, 0, 0.11);
  font-family: "Creepster";
}

@media only screen and (min-device-width : 768px) {
  .text span {
    -webkit-animation: smoky 5s 5s both infinite;
            animation: smoky 5s 5s both infinite;
  }
  .text span:nth-child(even) {
    -webkit-animation-name: smoky-mirror;
            animation-name: smoky-mirror;
  }
}
.text span {
  font-size: 100px;
  display: inline-block;
  text-shadow: 0 0 0 whitesmoke;
}

.hero-text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 4;
}

.text{
  margin: auto;
  text-align: center;
  color: transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@-webkit-keyframes smoky {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    -webkit-transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
            transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@keyframes smoky {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    -webkit-transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
            transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}
@-webkit-keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    -webkit-transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
            transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}
@keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    -webkit-transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
            transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}
.text span:nth-of-type(1) {
  -webkit-animation-delay: 3.1s;
          animation-delay: 3.1s;
}

.text span:nth-of-type(2) {
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
}

.text span:nth-of-type(3) {
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}

.text span:nth-of-type(4) {
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
}

.text span:nth-of-type(5) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.text span:nth-of-type(6) {
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
}

.text span:nth-of-type(7) {
  -webkit-animation-delay: 3.7s;
          animation-delay: 3.7s;
}

.text span:nth-of-type(8) {
  -webkit-animation-delay: 3.8s;
          animation-delay: 3.8s;
}

.text span:nth-of-type(9) {
  -webkit-animation-delay: 3.9s;
          animation-delay: 3.9s;
}

.text span:nth-of-type(10) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.text span:nth-of-type(11) {
  -webkit-animation-delay: 4.1s;
          animation-delay: 4.1s;
}

.text span:nth-of-type(12) {
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}
.firefly {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 9.8vw;
  animation: ease 200s alternate infinite;
  pointer-events: none;
}
.firefly::before, .firefly::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-origin: -10vw;
}
.firefly::before {
  background: black;
  opacity: 0.4;
  animation: drift ease alternate infinite;
}
.firefly::after {
  background: white;
  opacity: 0;
  box-shadow: 0 0 0vw 0vw yellow;
  animation: drift ease alternate infinite, flash ease infinite;
}

.firefly:nth-child(1) {
  animation-name: move1;
}
.firefly:nth-child(1)::before {
  animation-duration: 17s;
}
.firefly:nth-child(1)::after {
  animation-duration: 17s, 5871ms;
  animation-delay: 0ms, 2160ms;
}

@keyframes move1 {
  0% {
    transform: translateX(22vw) translateY(9vh) scale(0.8);
  }
  4.5454545455% {
    transform: translateX(-11vw) translateY(41vh) scale(0.43);
  }
  9.0909090909% {
    transform: translateX(-41vw) translateY(-36vh) scale(0.78);
  }
  13.6363636364% {
    transform: translateX(9vw) translateY(28vh) scale(0.93);
  }
  18.1818181818% {
    transform: translateX(10vw) translateY(39vh) scale(0.45);
  }
  22.7272727273% {
    transform: translateX(-24vw) translateY(-14vh) scale(0.29);
  }
  27.2727272727% {
    transform: translateX(-47vw) translateY(-12vh) scale(0.57);
  }
  31.8181818182% {
    transform: translateX(-49vw) translateY(27vh) scale(0.44);
  }
  36.3636363636% {
    transform: translateX(33vw) translateY(-45vh) scale(1);
  }
  40.9090909091% {
    transform: translateX(25vw) translateY(-9vh) scale(0.72);
  }
  45.4545454545% {
    transform: translateX(7vw) translateY(10vh) scale(0.85);
  }
  50% {
    transform: translateX(7vw) translateY(9vh) scale(0.58);
  }
  54.5454545455% {
    transform: translateX(4vw) translateY(-7vh) scale(0.86);
  }
  59.0909090909% {
    transform: translateX(-39vw) translateY(14vh) scale(0.52);
  }
  63.6363636364% {
    transform: translateX(21vw) translateY(17vh) scale(0.26);
  }
  68.1818181818% {
    transform: translateX(28vw) translateY(14vh) scale(0.53);
  }
  72.7272727273% {
    transform: translateX(-14vw) translateY(4vh) scale(0.99);
  }
  77.2727272727% {
    transform: translateX(-2vw) translateY(-10vh) scale(0.95);
  }
  81.8181818182% {
    transform: translateX(3vw) translateY(0vh) scale(0.52);
  }
  86.3636363636% {
    transform: translateX(-14vw) translateY(-11vh) scale(0.54);
  }
  90.9090909091% {
    transform: translateX(37vw) translateY(6vh) scale(0.42);
  }
  95.4545454545% {
    transform: translateX(-23vw) translateY(20vh) scale(0.67);
  }
  100% {
    transform: translateX(3vw) translateY(29vh) scale(0.59);
  }
}
.firefly:nth-child(2) {
  animation-name: move2;
}
.firefly:nth-child(2)::before {
  animation-duration: 11s;
}
.firefly:nth-child(2)::after {
  animation-duration: 11s, 7727ms;
  animation-delay: 0ms, 7270ms;
}

@keyframes move2 {
  0% {
    transform: translateX(20vw) translateY(45vh) scale(0.67);
  }
  5.2631578947% {
    transform: translateX(-48vw) translateY(-4vh) scale(0.85);
  }
  10.5263157895% {
    transform: translateX(-1vw) translateY(-32vh) scale(0.29);
  }
  15.7894736842% {
    transform: translateX(-9vw) translateY(-17vh) scale(0.8);
  }
  21.0526315789% {
    transform: translateX(16vw) translateY(34vh) scale(0.38);
  }
  26.3157894737% {
    transform: translateX(9vw) translateY(-39vh) scale(0.35);
  }
  31.5789473684% {
    transform: translateX(-3vw) translateY(-1vh) scale(0.6);
  }
  36.8421052632% {
    transform: translateX(32vw) translateY(-22vh) scale(0.79);
  }
  42.1052631579% {
    transform: translateX(-43vw) translateY(-2vh) scale(0.61);
  }
  47.3684210526% {
    transform: translateX(30vw) translateY(41vh) scale(0.88);
  }
  52.6315789474% {
    transform: translateX(23vw) translateY(31vh) scale(0.34);
  }
  57.8947368421% {
    transform: translateX(6vw) translateY(13vh) scale(0.3);
  }
  63.1578947368% {
    transform: translateX(19vw) translateY(42vh) scale(0.86);
  }
  68.4210526316% {
    transform: translateX(-28vw) translateY(3vh) scale(0.87);
  }
  73.6842105263% {
    transform: translateX(-8vw) translateY(43vh) scale(0.66);
  }
  78.9473684211% {
    transform: translateX(38vw) translateY(-36vh) scale(0.87);
  }
  84.2105263158% {
    transform: translateX(48vw) translateY(4vh) scale(0.67);
  }
  89.4736842105% {
    transform: translateX(18vw) translateY(5vh) scale(0.65);
  }
  94.7368421053% {
    transform: translateX(36vw) translateY(5vh) scale(0.84);
  }
  100% {
    transform: translateX(-38vw) translateY(-33vh) scale(0.79);
  }
}
.firefly:nth-child(3) {
  animation-name: move3;
}
.firefly:nth-child(3)::before {
  animation-duration: 14s;
}
.firefly:nth-child(3)::after {
  animation-duration: 14s, 8562ms;
  animation-delay: 0ms, 5217ms;
}

@keyframes move3 {
  0% {
    transform: translateX(3vw) translateY(24vh) scale(0.44);
  }
  4.347826087% {
    transform: translateX(29vw) translateY(7vh) scale(0.97);
  }
  8.6956521739% {
    transform: translateX(-18vw) translateY(-43vh) scale(0.61);
  }
  13.0434782609% {
    transform: translateX(-43vw) translateY(-38vh) scale(0.47);
  }
  17.3913043478% {
    transform: translateX(-36vw) translateY(-5vh) scale(0.74);
  }
  21.7391304348% {
    transform: translateX(47vw) translateY(-23vh) scale(0.68);
  }
  26.0869565217% {
    transform: translateX(-43vw) translateY(-4vh) scale(0.85);
  }
  30.4347826087% {
    transform: translateX(-41vw) translateY(15vh) scale(0.26);
  }
  34.7826086957% {
    transform: translateX(34vw) translateY(46vh) scale(0.83);
  }
  39.1304347826% {
    transform: translateX(-8vw) translateY(17vh) scale(0.28);
  }
  43.4782608696% {
    transform: translateX(0vw) translateY(37vh) scale(0.37);
  }
  47.8260869565% {
    transform: translateX(-30vw) translateY(48vh) scale(0.46);
  }
  52.1739130435% {
    transform: translateX(0vw) translateY(27vh) scale(0.87);
  }
  56.5217391304% {
    transform: translateX(39vw) translateY(37vh) scale(0.3);
  }
  60.8695652174% {
    transform: translateX(31vw) translateY(49vh) scale(0.58);
  }
  65.2173913043% {
    transform: translateX(31vw) translateY(-48vh) scale(0.37);
  }
  69.5652173913% {
    transform: translateX(20vw) translateY(-2vh) scale(0.51);
  }
  73.9130434783% {
    transform: translateX(5vw) translateY(-14vh) scale(0.28);
  }
  78.2608695652% {
    transform: translateX(-8vw) translateY(-43vh) scale(0.38);
  }
  82.6086956522% {
    transform: translateX(-40vw) translateY(16vh) scale(0.92);
  }
  86.9565217391% {
    transform: translateX(-13vw) translateY(-36vh) scale(0.82);
  }
  91.3043478261% {
    transform: translateX(23vw) translateY(-18vh) scale(0.41);
  }
  95.652173913% {
    transform: translateX(-19vw) translateY(12vh) scale(0.53);
  }
  100% {
    transform: translateX(-35vw) translateY(-14vh) scale(0.61);
  }
}
.firefly:nth-child(4) {
  animation-name: move4;
}
.firefly:nth-child(4)::before {
  animation-duration: 9s;
}
.firefly:nth-child(4)::after {
  animation-duration: 9s, 5562ms;
  animation-delay: 0ms, 7792ms;
}

@keyframes move4 {
  0% {
    transform: translateX(-12vw) translateY(30vh) scale(0.88);
  }
  3.5714285714% {
    transform: translateX(-37vw) translateY(-20vh) scale(0.67);
  }
  7.1428571429% {
    transform: translateX(-34vw) translateY(6vh) scale(0.71);
  }
  10.7142857143% {
    transform: translateX(-36vw) translateY(-5vh) scale(0.62);
  }
  14.2857142857% {
    transform: translateX(-12vw) translateY(48vh) scale(0.96);
  }
  17.8571428571% {
    transform: translateX(10vw) translateY(-44vh) scale(0.57);
  }
  21.4285714286% {
    transform: translateX(17vw) translateY(-40vh) scale(0.31);
  }
  25% {
    transform: translateX(28vw) translateY(-43vh) scale(0.77);
  }
  28.5714285714% {
    transform: translateX(26vw) translateY(-47vh) scale(0.97);
  }
  32.1428571429% {
    transform: translateX(14vw) translateY(33vh) scale(0.62);
  }
  35.7142857143% {
    transform: translateX(-2vw) translateY(-32vh) scale(0.89);
  }
  39.2857142857% {
    transform: translateX(15vw) translateY(-4vh) scale(0.29);
  }
  42.8571428571% {
    transform: translateX(-40vw) translateY(-39vh) scale(0.36);
  }
  46.4285714286% {
    transform: translateX(7vw) translateY(-32vh) scale(0.36);
  }
  50% {
    transform: translateX(33vw) translateY(12vh) scale(0.84);
  }
  53.5714285714% {
    transform: translateX(-26vw) translateY(-47vh) scale(0.42);
  }
  57.1428571429% {
    transform: translateX(-30vw) translateY(-46vh) scale(0.95);
  }
  60.7142857143% {
    transform: translateX(-42vw) translateY(-25vh) scale(0.51);
  }
  64.2857142857% {
    transform: translateX(2vw) translateY(5vh) scale(0.53);
  }
  67.8571428571% {
    transform: translateX(-22vw) translateY(-44vh) scale(0.64);
  }
  71.4285714286% {
    transform: translateX(-48vw) translateY(-46vh) scale(0.51);
  }
  75% {
    transform: translateX(-32vw) translateY(-47vh) scale(0.8);
  }
  78.5714285714% {
    transform: translateX(1vw) translateY(-8vh) scale(0.95);
  }
  82.1428571429% {
    transform: translateX(-16vw) translateY(-9vh) scale(0.5);
  }
  85.7142857143% {
    transform: translateX(0vw) translateY(24vh) scale(0.54);
  }
  89.2857142857% {
    transform: translateX(50vw) translateY(22vh) scale(0.39);
  }
  92.8571428571% {
    transform: translateX(42vw) translateY(17vh) scale(0.68);
  }
  96.4285714286% {
    transform: translateX(9vw) translateY(1vh) scale(0.92);
  }
  100% {
    transform: translateX(-17vw) translateY(10vh) scale(0.82);
  }
}
.firefly:nth-child(5) {
  animation-name: move5;
}
.firefly:nth-child(5)::before {
  animation-duration: 17s;
}
.firefly:nth-child(5)::after {
  animation-duration: 17s, 6852ms;
  animation-delay: 0ms, 4252ms;
}

@keyframes move5 {
  0% {
    transform: translateX(-31vw) translateY(-37vh) scale(0.28);
  }
  5% {
    transform: translateX(2vw) translateY(50vh) scale(0.4);
  }
  10% {
    transform: translateX(3vw) translateY(1vh) scale(0.76);
  }
  15% {
    transform: translateX(47vw) translateY(25vh) scale(0.42);
  }
  20% {
    transform: translateX(-9vw) translateY(7vh) scale(0.84);
  }
  25% {
    transform: translateX(16vw) translateY(-19vh) scale(0.66);
  }
  30% {
    transform: translateX(20vw) translateY(26vh) scale(0.9);
  }
  35% {
    transform: translateX(-11vw) translateY(-24vh) scale(0.98);
  }
  40% {
    transform: translateX(13vw) translateY(10vh) scale(0.74);
  }
  45% {
    transform: translateX(0vw) translateY(-44vh) scale(0.41);
  }
  50% {
    transform: translateX(1vw) translateY(-19vh) scale(0.51);
  }
  55% {
    transform: translateX(8vw) translateY(-48vh) scale(0.7);
  }
  60% {
    transform: translateX(-23vw) translateY(6vh) scale(0.45);
  }
  65% {
    transform: translateX(-16vw) translateY(2vh) scale(0.36);
  }
  70% {
    transform: translateX(23vw) translateY(49vh) scale(0.3);
  }
  75% {
    transform: translateX(-43vw) translateY(44vh) scale(0.83);
  }
  80% {
    transform: translateX(-13vw) translateY(0vh) scale(0.54);
  }
  85% {
    transform: translateX(5vw) translateY(3vh) scale(0.78);
  }
  90% {
    transform: translateX(45vw) translateY(-5vh) scale(0.47);
  }
  95% {
    transform: translateX(-9vw) translateY(11vh) scale(0.57);
  }
  100% {
    transform: translateX(-19vw) translateY(24vh) scale(0.94);
  }
}
.firefly:nth-child(6) {
  animation-name: move6;
}
.firefly:nth-child(6)::before {
  animation-duration: 18s;
}
.firefly:nth-child(6)::after {
  animation-duration: 18s, 9252ms;
  animation-delay: 0ms, 1009ms;
}

@keyframes move6 {
  0% {
    transform: translateX(-45vw) translateY(42vh) scale(0.86);
  }
  4.5454545455% {
    transform: translateX(32vw) translateY(50vh) scale(0.41);
  }
  9.0909090909% {
    transform: translateX(-44vw) translateY(-17vh) scale(0.34);
  }
  13.6363636364% {
    transform: translateX(-6vw) translateY(-4vh) scale(0.48);
  }
  18.1818181818% {
    transform: translateX(-9vw) translateY(-10vh) scale(1);
  }
  22.7272727273% {
    transform: translateX(-34vw) translateY(-21vh) scale(0.93);
  }
  27.2727272727% {
    transform: translateX(-41vw) translateY(3vh) scale(0.96);
  }
  31.8181818182% {
    transform: translateX(38vw) translateY(1vh) scale(0.68);
  }
  36.3636363636% {
    transform: translateX(-28vw) translateY(35vh) scale(0.43);
  }
  40.9090909091% {
    transform: translateX(36vw) translateY(49vh) scale(0.94);
  }
  45.4545454545% {
    transform: translateX(-42vw) translateY(23vh) scale(0.53);
  }
  50% {
    transform: translateX(-19vw) translateY(11vh) scale(0.32);
  }
  54.5454545455% {
    transform: translateX(-31vw) translateY(40vh) scale(0.71);
  }
  59.0909090909% {
    transform: translateX(45vw) translateY(-28vh) scale(0.42);
  }
  63.6363636364% {
    transform: translateX(18vw) translateY(-29vh) scale(0.95);
  }
  68.1818181818% {
    transform: translateX(-3vw) translateY(27vh) scale(0.89);
  }
  72.7272727273% {
    transform: translateX(-26vw) translateY(47vh) scale(0.68);
  }
  77.2727272727% {
    transform: translateX(-47vw) translateY(-46vh) scale(0.26);
  }
  81.8181818182% {
    transform: translateX(9vw) translateY(-46vh) scale(0.92);
  }
  86.3636363636% {
    transform: translateX(-36vw) translateY(15vh) scale(0.32);
  }
  90.9090909091% {
    transform: translateX(29vw) translateY(-15vh) scale(0.26);
  }
  95.4545454545% {
    transform: translateX(28vw) translateY(-12vh) scale(0.42);
  }
  100% {
    transform: translateX(14vw) translateY(24vh) scale(0.9);
  }
}
.firefly:nth-child(7) {
  animation-name: move7;
}
.firefly:nth-child(7)::before {
  animation-duration: 13s;
}
.firefly:nth-child(7)::after {
  animation-duration: 13s, 9163ms;
  animation-delay: 0ms, 5790ms;
}

@keyframes move7 {
  0% {
    transform: translateX(20vw) translateY(-25vh) scale(0.52);
  }
  4% {
    transform: translateX(-30vw) translateY(4vh) scale(0.85);
  }
  8% {
    transform: translateX(-47vw) translateY(-22vh) scale(0.39);
  }
  12% {
    transform: translateX(39vw) translateY(-43vh) scale(0.82);
  }
  16% {
    transform: translateX(8vw) translateY(-31vh) scale(0.73);
  }
  20% {
    transform: translateX(28vw) translateY(1vh) scale(0.72);
  }
  24% {
    transform: translateX(7vw) translateY(49vh) scale(0.4);
  }
  28% {
    transform: translateX(-31vw) translateY(14vh) scale(0.65);
  }
  32% {
    transform: translateX(-38vw) translateY(39vh) scale(0.96);
  }
  36% {
    transform: translateX(41vw) translateY(6vh) scale(0.36);
  }
  40% {
    transform: translateX(-2vw) translateY(5vh) scale(0.91);
  }
  44% {
    transform: translateX(-46vw) translateY(10vh) scale(0.29);
  }
  48% {
    transform: translateX(21vw) translateY(-1vh) scale(0.74);
  }
  52% {
    transform: translateX(20vw) translateY(7vh) scale(0.82);
  }
  56% {
    transform: translateX(-3vw) translateY(-31vh) scale(0.53);
  }
  60% {
    transform: translateX(21vw) translateY(31vh) scale(0.34);
  }
  64% {
    transform: translateX(22vw) translateY(10vh) scale(0.54);
  }
  68% {
    transform: translateX(16vw) translateY(-25vh) scale(0.96);
  }
  72% {
    transform: translateX(17vw) translateY(29vh) scale(0.43);
  }
  76% {
    transform: translateX(-2vw) translateY(-17vh) scale(0.67);
  }
  80% {
    transform: translateX(-13vw) translateY(1vh) scale(0.63);
  }
  84% {
    transform: translateX(35vw) translateY(15vh) scale(1);
  }
  88% {
    transform: translateX(-21vw) translateY(22vh) scale(0.98);
  }
  92% {
    transform: translateX(7vw) translateY(21vh) scale(0.97);
  }
  96% {
    transform: translateX(28vw) translateY(25vh) scale(0.5);
  }
  100% {
    transform: translateX(-27vw) translateY(-24vh) scale(0.47);
  }
}
.firefly:nth-child(8) {
  animation-name: move8;
}
.firefly:nth-child(8)::before {
  animation-duration: 10s;
}
.firefly:nth-child(8)::after {
  animation-duration: 10s, 9781ms;
  animation-delay: 0ms, 5714ms;
}

@keyframes move8 {
  0% {
    transform: translateX(15vw) translateY(-36vh) scale(0.3);
  }
  4.5454545455% {
    transform: translateX(-4vw) translateY(35vh) scale(0.58);
  }
  9.0909090909% {
    transform: translateX(-31vw) translateY(49vh) scale(0.97);
  }
  13.6363636364% {
    transform: translateX(-28vw) translateY(-9vh) scale(0.79);
  }
  18.1818181818% {
    transform: translateX(29vw) translateY(16vh) scale(0.48);
  }
  22.7272727273% {
    transform: translateX(19vw) translateY(-47vh) scale(0.43);
  }
  27.2727272727% {
    transform: translateX(49vw) translateY(13vh) scale(0.45);
  }
  31.8181818182% {
    transform: translateX(16vw) translateY(-8vh) scale(0.95);
  }
  36.3636363636% {
    transform: translateX(24vw) translateY(-44vh) scale(0.28);
  }
  40.9090909091% {
    transform: translateX(50vw) translateY(6vh) scale(0.6);
  }
  45.4545454545% {
    transform: translateX(36vw) translateY(37vh) scale(0.8);
  }
  50% {
    transform: translateX(-34vw) translateY(45vh) scale(0.66);
  }
  54.5454545455% {
    transform: translateX(-43vw) translateY(-1vh) scale(0.66);
  }
  59.0909090909% {
    transform: translateX(-2vw) translateY(5vh) scale(0.9);
  }
  63.6363636364% {
    transform: translateX(28vw) translateY(12vh) scale(0.53);
  }
  68.1818181818% {
    transform: translateX(25vw) translateY(-7vh) scale(0.86);
  }
  72.7272727273% {
    transform: translateX(42vw) translateY(14vh) scale(0.91);
  }
  77.2727272727% {
    transform: translateX(12vw) translateY(-20vh) scale(0.71);
  }
  81.8181818182% {
    transform: translateX(41vw) translateY(50vh) scale(0.78);
  }
  86.3636363636% {
    transform: translateX(-18vw) translateY(-4vh) scale(0.73);
  }
  90.9090909091% {
    transform: translateX(-5vw) translateY(-45vh) scale(0.52);
  }
  95.4545454545% {
    transform: translateX(-26vw) translateY(-36vh) scale(0.49);
  }
  100% {
    transform: translateX(22vw) translateY(2vh) scale(0.41);
  }
}
.firefly:nth-child(9) {
  animation-name: move9;
}
.firefly:nth-child(9)::before {
  animation-duration: 14s;
}
.firefly:nth-child(9)::after {
  animation-duration: 14s, 7539ms;
  animation-delay: 0ms, 7783ms;
}

@keyframes move9 {
  0% {
    transform: translateX(-14vw) translateY(-9vh) scale(0.63);
  }
  4.7619047619% {
    transform: translateX(-36vw) translateY(-29vh) scale(0.96);
  }
  9.5238095238% {
    transform: translateX(-41vw) translateY(-23vh) scale(0.33);
  }
  14.2857142857% {
    transform: translateX(49vw) translateY(-44vh) scale(0.65);
  }
  19.0476190476% {
    transform: translateX(46vw) translateY(30vh) scale(0.36);
  }
  23.8095238095% {
    transform: translateX(48vw) translateY(35vh) scale(0.97);
  }
  28.5714285714% {
    transform: translateX(25vw) translateY(27vh) scale(0.39);
  }
  33.3333333333% {
    transform: translateX(43vw) translateY(-21vh) scale(0.7);
  }
  38.0952380952% {
    transform: translateX(26vw) translateY(30vh) scale(0.44);
  }
  42.8571428571% {
    transform: translateX(12vw) translateY(-3vh) scale(0.63);
  }
  47.619047619% {
    transform: translateX(15vw) translateY(36vh) scale(0.47);
  }
  52.380952381% {
    transform: translateX(36vw) translateY(-49vh) scale(0.35);
  }
  57.1428571429% {
    transform: translateX(-1vw) translateY(-1vh) scale(0.73);
  }
  61.9047619048% {
    transform: translateX(5vw) translateY(-38vh) scale(0.46);
  }
  66.6666666667% {
    transform: translateX(10vw) translateY(-8vh) scale(0.63);
  }
  71.4285714286% {
    transform: translateX(21vw) translateY(-27vh) scale(0.43);
  }
  76.1904761905% {
    transform: translateX(7vw) translateY(-16vh) scale(0.95);
  }
  80.9523809524% {
    transform: translateX(18vw) translateY(22vh) scale(0.63);
  }
  85.7142857143% {
    transform: translateX(2vw) translateY(-48vh) scale(0.53);
  }
  90.4761904762% {
    transform: translateX(-28vw) translateY(18vh) scale(0.68);
  }
  95.2380952381% {
    transform: translateX(39vw) translateY(-6vh) scale(0.92);
  }
  100% {
    transform: translateX(30vw) translateY(12vh) scale(0.84);
  }
}
.firefly:nth-child(10) {
  animation-name: move10;
}
.firefly:nth-child(10)::before {
  animation-duration: 12s;
}
.firefly:nth-child(10)::after {
  animation-duration: 12s, 9537ms;
  animation-delay: 0ms, 4211ms;
}

@keyframes move10 {
  0% {
    transform: translateX(4vw) translateY(33vh) scale(0.27);
  }
  5.8823529412% {
    transform: translateX(-38vw) translateY(8vh) scale(0.28);
  }
  11.7647058824% {
    transform: translateX(-28vw) translateY(-17vh) scale(0.81);
  }
  17.6470588235% {
    transform: translateX(-42vw) translateY(9vh) scale(0.57);
  }
  23.5294117647% {
    transform: translateX(30vw) translateY(-28vh) scale(0.75);
  }
  29.4117647059% {
    transform: translateX(-48vw) translateY(1vh) scale(0.73);
  }
  35.2941176471% {
    transform: translateX(50vw) translateY(36vh) scale(1);
  }
  41.1764705882% {
    transform: translateX(-7vw) translateY(-18vh) scale(0.43);
  }
  47.0588235294% {
    transform: translateX(-2vw) translateY(7vh) scale(0.27);
  }
  52.9411764706% {
    transform: translateX(16vw) translateY(-45vh) scale(0.26);
  }
  58.8235294118% {
    transform: translateX(-3vw) translateY(6vh) scale(0.73);
  }
  64.7058823529% {
    transform: translateX(-22vw) translateY(-45vh) scale(0.59);
  }
  70.5882352941% {
    transform: translateX(38vw) translateY(38vh) scale(0.74);
  }
  76.4705882353% {
    transform: translateX(1vw) translateY(38vh) scale(0.63);
  }
  82.3529411765% {
    transform: translateX(29vw) translateY(43vh) scale(0.27);
  }
  88.2352941176% {
    transform: translateX(-20vw) translateY(21vh) scale(0.26);
  }
  94.1176470588% {
    transform: translateX(11vw) translateY(-30vh) scale(0.72);
  }
  100% {
    transform: translateX(36vw) translateY(-29vh) scale(0.37);
  }
}
.firefly:nth-child(11) {
  animation-name: move11;
}
.firefly:nth-child(11)::before {
  animation-duration: 13s;
}
.firefly:nth-child(11)::after {
  animation-duration: 13s, 7690ms;
  animation-delay: 0ms, 6384ms;
}

@keyframes move11 {
  0% {
    transform: translateX(37vw) translateY(0vh) scale(0.73);
  }
  4.7619047619% {
    transform: translateX(12vw) translateY(34vh) scale(0.84);
  }
  9.5238095238% {
    transform: translateX(15vw) translateY(-8vh) scale(0.76);
  }
  14.2857142857% {
    transform: translateX(-26vw) translateY(41vh) scale(0.75);
  }
  19.0476190476% {
    transform: translateX(26vw) translateY(-49vh) scale(0.59);
  }
  23.8095238095% {
    transform: translateX(-44vw) translateY(25vh) scale(0.48);
  }
  28.5714285714% {
    transform: translateX(26vw) translateY(21vh) scale(0.45);
  }
  33.3333333333% {
    transform: translateX(-22vw) translateY(31vh) scale(0.46);
  }
  38.0952380952% {
    transform: translateX(14vw) translateY(-41vh) scale(0.86);
  }
  42.8571428571% {
    transform: translateX(25vw) translateY(-25vh) scale(0.6);
  }
  47.619047619% {
    transform: translateX(-9vw) translateY(48vh) scale(0.26);
  }
  52.380952381% {
    transform: translateX(-13vw) translateY(39vh) scale(1);
  }
  57.1428571429% {
    transform: translateX(-46vw) translateY(-7vh) scale(0.91);
  }
  61.9047619048% {
    transform: translateX(33vw) translateY(-26vh) scale(0.8);
  }
  66.6666666667% {
    transform: translateX(-40vw) translateY(29vh) scale(0.5);
  }
  71.4285714286% {
    transform: translateX(-45vw) translateY(-1vh) scale(0.38);
  }
  76.1904761905% {
    transform: translateX(-37vw) translateY(-14vh) scale(0.51);
  }
  80.9523809524% {
    transform: translateX(-44vw) translateY(42vh) scale(0.36);
  }
  85.7142857143% {
    transform: translateX(-4vw) translateY(-48vh) scale(0.56);
  }
  90.4761904762% {
    transform: translateX(-42vw) translateY(-40vh) scale(0.47);
  }
  95.2380952381% {
    transform: translateX(5vw) translateY(-6vh) scale(0.79);
  }
  100% {
    transform: translateX(27vw) translateY(-48vh) scale(0.97);
  }
}
.firefly:nth-child(12) {
  animation-name: move12;
}
.firefly:nth-child(12)::before {
  animation-duration: 17s;
}
.firefly:nth-child(12)::after {
  animation-duration: 17s, 8744ms;
  animation-delay: 0ms, 3938ms;
}

@keyframes move12 {
  0% {
    transform: translateX(30vw) translateY(22vh) scale(0.73);
  }
  4.347826087% {
    transform: translateX(37vw) translateY(32vh) scale(0.93);
  }
  8.6956521739% {
    transform: translateX(-34vw) translateY(-34vh) scale(0.48);
  }
  13.0434782609% {
    transform: translateX(-35vw) translateY(-32vh) scale(0.89);
  }
  17.3913043478% {
    transform: translateX(-2vw) translateY(-32vh) scale(0.63);
  }
  21.7391304348% {
    transform: translateX(-10vw) translateY(29vh) scale(0.72);
  }
  26.0869565217% {
    transform: translateX(25vw) translateY(10vh) scale(0.76);
  }
  30.4347826087% {
    transform: translateX(3vw) translateY(-18vh) scale(0.97);
  }
  34.7826086957% {
    transform: translateX(-46vw) translateY(-44vh) scale(0.27);
  }
  39.1304347826% {
    transform: translateX(36vw) translateY(33vh) scale(0.92);
  }
  43.4782608696% {
    transform: translateX(41vw) translateY(23vh) scale(0.93);
  }
  47.8260869565% {
    transform: translateX(28vw) translateY(28vh) scale(0.6);
  }
  52.1739130435% {
    transform: translateX(9vw) translateY(-5vh) scale(0.67);
  }
  56.5217391304% {
    transform: translateX(23vw) translateY(-20vh) scale(0.57);
  }
  60.8695652174% {
    transform: translateX(37vw) translateY(-31vh) scale(0.29);
  }
  65.2173913043% {
    transform: translateX(34vw) translateY(-21vh) scale(0.72);
  }
  69.5652173913% {
    transform: translateX(7vw) translateY(20vh) scale(0.76);
  }
  73.9130434783% {
    transform: translateX(-45vw) translateY(-42vh) scale(0.48);
  }
  78.2608695652% {
    transform: translateX(-9vw) translateY(31vh) scale(0.34);
  }
  82.6086956522% {
    transform: translateX(19vw) translateY(-6vh) scale(0.54);
  }
  86.9565217391% {
    transform: translateX(-20vw) translateY(-41vh) scale(0.98);
  }
  91.3043478261% {
    transform: translateX(1vw) translateY(-30vh) scale(0.92);
  }
  95.652173913% {
    transform: translateX(-43vw) translateY(50vh) scale(0.3);
  }
  100% {
    transform: translateX(-20vw) translateY(19vh) scale(0.27);
  }
}
.firefly:nth-child(13) {
  animation-name: move13;
}
.firefly:nth-child(13)::before {
  animation-duration: 9s;
}
.firefly:nth-child(13)::after {
  animation-duration: 9s, 6584ms;
  animation-delay: 0ms, 5977ms;
}

@keyframes move13 {
  0% {
    transform: translateX(-26vw) translateY(26vh) scale(0.26);
  }
  4.347826087% {
    transform: translateX(21vw) translateY(-36vh) scale(0.35);
  }
  8.6956521739% {
    transform: translateX(-6vw) translateY(-30vh) scale(0.91);
  }
  13.0434782609% {
    transform: translateX(-12vw) translateY(-11vh) scale(0.33);
  }
  17.3913043478% {
    transform: translateX(34vw) translateY(-17vh) scale(0.61);
  }
  21.7391304348% {
    transform: translateX(37vw) translateY(0vh) scale(0.31);
  }
  26.0869565217% {
    transform: translateX(-21vw) translateY(49vh) scale(0.96);
  }
  30.4347826087% {
    transform: translateX(-47vw) translateY(41vh) scale(0.82);
  }
  34.7826086957% {
    transform: translateX(30vw) translateY(29vh) scale(0.76);
  }
  39.1304347826% {
    transform: translateX(-25vw) translateY(30vh) scale(0.97);
  }
  43.4782608696% {
    transform: translateX(11vw) translateY(-26vh) scale(0.69);
  }
  47.8260869565% {
    transform: translateX(-45vw) translateY(-38vh) scale(0.77);
  }
  52.1739130435% {
    transform: translateX(22vw) translateY(-20vh) scale(0.37);
  }
  56.5217391304% {
    transform: translateX(45vw) translateY(34vh) scale(0.79);
  }
  60.8695652174% {
    transform: translateX(42vw) translateY(19vh) scale(0.79);
  }
  65.2173913043% {
    transform: translateX(28vw) translateY(-33vh) scale(0.99);
  }
  69.5652173913% {
    transform: translateX(-7vw) translateY(44vh) scale(0.75);
  }
  73.9130434783% {
    transform: translateX(24vw) translateY(18vh) scale(0.42);
  }
  78.2608695652% {
    transform: translateX(-40vw) translateY(49vh) scale(0.26);
  }
  82.6086956522% {
    transform: translateX(12vw) translateY(-39vh) scale(0.62);
  }
  86.9565217391% {
    transform: translateX(-14vw) translateY(-10vh) scale(0.37);
  }
  91.3043478261% {
    transform: translateX(27vw) translateY(-14vh) scale(0.48);
  }
  95.652173913% {
    transform: translateX(41vw) translateY(-38vh) scale(0.52);
  }
  100% {
    transform: translateX(-30vw) translateY(18vh) scale(0.35);
  }
}
.firefly:nth-child(14) {
  animation-name: move14;
}
.firefly:nth-child(14)::before {
  animation-duration: 18s;
}
.firefly:nth-child(14)::after {
  animation-duration: 18s, 8247ms;
  animation-delay: 0ms, 4465ms;
}

@keyframes move14 {
  0% {
    transform: translateX(-33vw) translateY(40vh) scale(0.28);
  }
  5.2631578947% {
    transform: translateX(23vw) translateY(-1vh) scale(0.63);
  }
  10.5263157895% {
    transform: translateX(-9vw) translateY(-31vh) scale(0.93);
  }
  15.7894736842% {
    transform: translateX(0vw) translateY(17vh) scale(0.67);
  }
  21.0526315789% {
    transform: translateX(10vw) translateY(-6vh) scale(1);
  }
  26.3157894737% {
    transform: translateX(-31vw) translateY(-45vh) scale(0.99);
  }
  31.5789473684% {
    transform: translateX(40vw) translateY(47vh) scale(0.65);
  }
  36.8421052632% {
    transform: translateX(-21vw) translateY(4vh) scale(0.37);
  }
  42.1052631579% {
    transform: translateX(-41vw) translateY(36vh) scale(0.72);
  }
  47.3684210526% {
    transform: translateX(42vw) translateY(29vh) scale(0.88);
  }
  52.6315789474% {
    transform: translateX(26vw) translateY(23vh) scale(0.99);
  }
  57.8947368421% {
    transform: translateX(33vw) translateY(21vh) scale(0.72);
  }
  63.1578947368% {
    transform: translateX(-28vw) translateY(6vh) scale(0.74);
  }
  68.4210526316% {
    transform: translateX(21vw) translateY(50vh) scale(0.77);
  }
  73.6842105263% {
    transform: translateX(14vw) translateY(-3vh) scale(0.86);
  }
  78.9473684211% {
    transform: translateX(-31vw) translateY(-21vh) scale(0.75);
  }
  84.2105263158% {
    transform: translateX(-45vw) translateY(14vh) scale(0.34);
  }
  89.4736842105% {
    transform: translateX(31vw) translateY(31vh) scale(0.61);
  }
  94.7368421053% {
    transform: translateX(24vw) translateY(30vh) scale(0.96);
  }
  100% {
    transform: translateX(-45vw) translateY(35vh) scale(0.82);
  }
}
.firefly:nth-child(15) {
  animation-name: move15;
}
.firefly:nth-child(15)::before {
  animation-duration: 10s;
}
.firefly:nth-child(15)::after {
  animation-duration: 10s, 8921ms;
  animation-delay: 0ms, 6857ms;
}

@keyframes move15 {
  0% {
    transform: translateX(27vw) translateY(47vh) scale(0.75);
  }
  4.347826087% {
    transform: translateX(1vw) translateY(15vh) scale(0.43);
  }
  8.6956521739% {
    transform: translateX(-3vw) translateY(36vh) scale(0.37);
  }
  13.0434782609% {
    transform: translateX(27vw) translateY(-3vh) scale(0.69);
  }
  17.3913043478% {
    transform: translateX(-16vw) translateY(-41vh) scale(0.52);
  }
  21.7391304348% {
    transform: translateX(38vw) translateY(33vh) scale(0.84);
  }
  26.0869565217% {
    transform: translateX(-37vw) translateY(-10vh) scale(0.45);
  }
  30.4347826087% {
    transform: translateX(-43vw) translateY(-32vh) scale(0.41);
  }
  34.7826086957% {
    transform: translateX(30vw) translateY(-48vh) scale(0.36);
  }
  39.1304347826% {
    transform: translateX(-45vw) translateY(-45vh) scale(0.59);
  }
  43.4782608696% {
    transform: translateX(-37vw) translateY(-25vh) scale(0.97);
  }
  47.8260869565% {
    transform: translateX(17vw) translateY(10vh) scale(0.95);
  }
  52.1739130435% {
    transform: translateX(35vw) translateY(-9vh) scale(0.27);
  }
  56.5217391304% {
    transform: translateX(31vw) translateY(-30vh) scale(0.41);
  }
  60.8695652174% {
    transform: translateX(-37vw) translateY(35vh) scale(0.58);
  }
  65.2173913043% {
    transform: translateX(14vw) translateY(34vh) scale(0.29);
  }
  69.5652173913% {
    transform: translateX(-21vw) translateY(-38vh) scale(0.36);
  }
  73.9130434783% {
    transform: translateX(-13vw) translateY(-40vh) scale(0.78);
  }
  78.2608695652% {
    transform: translateX(40vw) translateY(-16vh) scale(0.68);
  }
  82.6086956522% {
    transform: translateX(34vw) translateY(6vh) scale(0.53);
  }
  86.9565217391% {
    transform: translateX(49vw) translateY(9vh) scale(0.81);
  }
  91.3043478261% {
    transform: translateX(15vw) translateY(-49vh) scale(0.36);
  }
  95.652173913% {
    transform: translateX(27vw) translateY(49vh) scale(0.33);
  }
  100% {
    transform: translateX(-18vw) translateY(42vh) scale(0.73);
  }
}
@keyframes drift {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes flash {
  0%, 30%, 100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
  }
  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw yellow;
  }
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.preloader {
  height: 100vh;
  width: 100vw;
  background: #393E46;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.preloader__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
}
.preloader__circle {
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: 99;
  position: relative;
  transition: 0.3s ease;
}
.preloader__circle-line {
  animation: rotate 3.5s ease-in-out infinite;
  border-top: 1px solid transparent;
  border-left: 1px solid #D65A31;
  border-right: 1px solid #D65A31;
  border-bottom: 1px solid transparent;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
}
.preloader__circle-line--1 {
  width: 180px;
  height: 180px;
  animation-duration: 1s;
}
.preloader__circle-line--2 {
  width: 160px;
  height: 160px;
  animation-duration: 2s;
}
.preloader__circle-line--3 {
  width: 140px;
  height: 140px;
  animation-duration: 3s;
}
.preloader__circle-line--4 {
  width: 120px;
  height: 120px;
  animation-duration: 4s;
}
.preloader__circle-line--5 {
  width: 100px;
  height: 100px;
  animation-duration: 5s;
}
.preloader__circle-line--6 {
  width: 80px;
  height: 80px;
  animation-duration: 6s;
}
.preloader__circle-line--7 {
  width: 60px;
  height: 60px;
  animation-duration: 7s;
}
.preloader__circle-line--8 {
  width: 40px;
  height: 40px;
  animation-duration: 8s;
}
.preloader__circle-line--9 {
  width: 20px;
  height: 20px;
  animation-duration: 9s;
}
.preloader__circle-line--10 {
  width: 0px;
  height: 0px;
  animation-duration: 10s;
}